main.chat {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    height: calc(100vh - 130px); /* 1300px is the height of the header and footer*/
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}

.messages {
    margin-top: 40px;
    margin-bottom: 10vh;
}

ul.messages-list {
    list-style-type: none;
    padding-left: 0px;
    padding-inline-start: 0px;
}

ul.messages-list li {
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 0px;
}

ul.messages-list li span {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    max-width: 50vw;
    white-space: normal;
}

ul.messages-list li.sent span {
    background-color: rgb(13, 110, 253);
    color: white;
}

ul.messages-list li.replies span {
    background-color: rgb(84, 79, 107);
    color: white;
}

.sent {
    text-align: right;
    padding-right: 25px;
}

.replies {
    text-align: left;
    padding-left: 25px;
}

.chat-box {
    position: absolute;
    bottom: 10vh;
    
    left: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    height: 9vh;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }